body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: Verdana, sans-serif;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

.download-link {
  color: aquamarine;
  font-size: 16px;
}

/* This makes sure images/videos don't get too big on small screens */
video, img {
  max-width: 100%;
}
