/* General page styling */
body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
}

/* Styling the "Download" link */
.download-link {
    color: aquamarine;
    font-size: 16px;
}

/* Heading styles */
h1 {
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

/* Ensuring images and videos don't overflow */
video, img {
    max-width: 100%;
    height: auto;
}